


<div class="tech-btm widget_social">
    <h4>Sosyal Medya</h4>
    <a class="bg-warning" href="https://www.instagram.com/vektorelbilisim/">
        <i class="fab fa-instagram"></i>

        <span class="count">3.344</span> VEKTOREL AKADEMİ Takipçi
    </a>

</div>