<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h2> Hakkımızda </h2>
                <h6 class="text-white-50">Her hikayenin bir başlangıcı vardır.  Ne zaman, nerede ve nasıl hayata geçtiğini öğrenmek  hoşuna gidecektir.  Eğer..</h6>
                <div class="read">
                    <a href="/About/Index/" class="btn btn-primary read-m">Devamını  Oku...</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                @await Component.InvokeAsync("BlogLast3Post")
            </div>
            <!-- subscribe -->
            <div class="tech-btm col-lg-3">
                <h4 class="text-light" > Haber bültenimize kaydolun </h4>

                <h6 class="text-success" > <b> Yazılım, Teknoloji, Film Dizi ve diğer haberler... </b>   </h6>
                <form action="/NewsLetter/SubscribeMail/" method="post">
                    <input type="email" placeholder="Email" required="" name="Mail">
                    <input type="submit" value="Abone Ol">
                </form>

            </div>
        </div>
        <!-- footer -->
       

        <!-- //footer -->


    </div>
</footer>